/* Establecemos una tipografía moderna y limpia */
body {

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    background-color: #fff;
    font-family: ui-sans-serif,system-ui,Segoe UI,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}


@media (prefers-color-scheme: dark) {
    body {
    background-color: #000;
    }
}

input::placeholder{
    font-family: ui-sans-serif,system-ui,Segoe UI,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}

h1,h2{
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    
}
@media (prefers-color-scheme: dark){
    h1,h2{
        color: #fff;
    }
}

form{
    padding: 20px;
    text-align: center;
    border-color: #59636e;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
    width: 500px;
}
   

@media (prefers-color-scheme: dark){
    form{
        border-color: #59636e;
        background-color: #000;
       
    }
}


form input{
   
    font-family: ui-sans-serif,system-ui,Segoe UI,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    padding: 5px 12px;
    width: 450px;
    border-radius: 6px;
    border-width: 1px;
    border-style:  solid;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
 .enviar{
    background-color: #28a3c9;
    color: #fff;
    border: none;
 }
 .enviar:hover{
    background-color: #2691b8;
 }